<p id="notice"><%= notice %></p>

<% if @article.photos.attached? %>
  <% @article.photos.each do |photo| %>

    <%= cl_image_tag photo.key,
                     height: 300,
                     width: 400,
                     crop: :fill %>
  <% end %>
<% else %>
  <p>NO PHOTO</p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
